@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Ubuntu, system-ui, sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

/* CodeMirror overrides */
.cm-editor {
  font-size: 13px !important;
  font-family: 'JetBrains Mono', 'Fira Code', ui-monospace, monospace !important;
}

.cm-editor.cm-focused {
  outline: none !important;
}
